/* Default styles for the grid */
.main-grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 10px;  /* Add spacing between grid items */
  }
  
  /* Additional styling for grid items */
  /* .grid-item {
    background-color: #f0f0f0;
    padding: 0px;
    border-radius: 5px;
  } */
  
  /* Media queries to adjust the grid layout based on screen size */
  
  /* For screens with a minimum width of 600px (2 rows) */
  @media (min-width: 600px) {
    .main-grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* For screens with a minimum width of 1000px (3 rows) */
  @media (min-width: 1000px) {
    .main-grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  
  
  .card-overview small {
    color: var(--sl-color-neutral-500);
  }
  
  .card-overview [slot='footer'] {
    display: flex;
  }
  .preview-image{
    max-width: 110px;
  }
  
  .preview-image-container { grid-area: photo; }
  .preview-body { 
    grid-area: main; 
    padding-left: 15px
  }
  .preview-body p{
    font-weight: 200;
    font-style: italic;
    font-size: 0.7rem;
  }
  
  .preview-footer { 
    grid-area: footer;
    padding-left: 15px }
  
  .grid-container {
    display: grid;
    grid-template-areas:
      'photo main main '
      'photo footer footer';
    
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
  }