
.show-parent-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Preview{
    width: 100%;
}


@media screen and (max-width: 600px){
  .Preview{
    width: 1000px;
}  }